.kpi-title {
    color:white;
}

.kpi-text {
    color: white;
}

#type > label:nth-child(1):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #00B4EB;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(2):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #5c059e;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(3):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #FDAF43;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(4):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #EB0064;
    margin-right: 5px;
    margin-bottom: 1.5px;
}
