.kpi-title {
    color:white;
}

.kpi-text {
    color: white;
}

#type > label:nth-child(1):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #00B4EB;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(2):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #5c059e;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(3):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #FDAF43;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(4):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #6ee314;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

#type > label:nth-child(5):before {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background: #EB0064;
    margin-right: 5px;
    margin-bottom: 1.5px;
}

@media (max-width: 450px) {
  #page-content {
    margin-left: 0!important;
    margin-right: 0!important;
  }

  #sidebar {
      display: none!important;
  }
}

.tourist-form-explanation {
    top: 0;
    position: sticky;
    height: 100%;
}

.tourist-form-text {
    background-color: black;
    color: white!important;
    padding: 2rem;
}

.tourist-form-results {
    background-color: #4bbf73;
    color: white!important;
    padding: 2rem;
    margin-top: 1rem;
}

/* 'Sobre nosotros' */

.profiles-sources-title {
    background: black;
    padding: 1rem;
}

.profiles-sources-title h2 {
    margin: 0;
    color: white !important;
}

.profile-card-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.bi-linkedin {
   font-size: 1.5rem;
   color: #0077B5;
}

.references-container {
    color: white;
    background-color: #209bcf;
    padding: 2rem;
}

.references-container h4 {
    color: white!important;
}